<footer>
    <div class="wrapper">
  
      <div class="footer-icons">
  
        <a href="https://www.instagram.com/bojesax" target="_blank" class="footer-icon">
          <img src="assets/icons/instagram.svg" alt="Instagram"/>
        </a>
  
        <a href="https://open.spotify.com/intl-es/artist/6H5GRoWj00kN40WG1dV2vW" target="_blank" class="footer-icon">
          <img src="assets/icons/spotify.svg" alt="Spotify"/>
        </a>
  
        <a href="https://www.youtube.com/@bojesaxofficial" target="_blank" class="footer-icon">
          <img src="assets/icons/youtube.svg" alt="YouTube"/>
        </a>
  
        <a href="mailto:realbojesound@gmail.com" class="footer-icon">
          <img src="assets/icons/mail.svg" alt="Email"/>
        </a>
  
        <a href="https://www.facebook.com/bojesax" target="_blank" class="footer-icon">
          <img src="assets/icons/facebook.svg" alt="Facebook"/>
        </a>
  
        <a href="https://linktr.ee/bojesax" target="_blank" class="footer-icon">
          <img src="assets/icons/linktree.svg" alt="Linktree"/>
        </a>
  
      </div>
  
      <p>© 2025 BOJE. All rights reserved.</p>
  
      <p>
        A <a href="https://craftlab-studio.com" target="_blank">
        CraftLab Studio</a> project — Built by hand. Designed with soul.
      </p>
  
    </div>
  </footer>